.table{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    /* border-collapse: collapse; */
    margin: auto;
    border: 2px solid grey;
}

.table_title{
    font-size: 2em;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
    padding-bottom: .5em;
}

th, td{
    border-width: 2px;
    border-style: solid;
    border-color: grey;
    padding: .5em;
    background-color: lightsteelblue;
}

td:first-child, th{
    background-color: lightgreen;
}

tr:nth-child(7) td{ 
    border-top-width: 5px;
}

tr:nth-child(6) td{
    border-bottom-width: 5px;
}

#rowspan{
    border-bottom-width: 5px;
}